.theme-btn-container {
    width: 30px;
    height: 30px;
    background-color: var(--accent);
    border-radius: 50%;
    display: flex;
    padding: 2px;
    justify-content: center;
    align-items: center;
}

.theme-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    width: 30px;
    height: 30px;
    background: linear-gradient(
    10deg,
    var(--light-accent),
    var(--light-blue),
    var(--dark-blue)
  );;
    border-radius: 50%;
    cursor: pointer;
}
.icon {
    color: var(--light);
    font-size: 1.1rem;
}
.icon.day {
    font-size: 1.5rem;
}