.dark {
  /* background: var(--dark-blue); */
  /* linear gradient background */
  background: linear-gradient(
    180deg,
    var(--light-accent),
    var(--light-blue),
    var(--dark-blue),
    var(--dark-blue),
    var(--dark-blue)
  );
}

.light {
  background: var(--light-pink);
}
.mainbody {
  display: flex;
  flex-direction: row;
  padding: 0 20px 0 20px;
  gap: 30px;
  height: 100vh;
  overflow: hidden;
  width: 100%;
}
.center-content {
  width: 65%;
}
.aux-content {
  display: flex;
  width: 35%;
  overflow-y: auto;
  height: 600px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none;
}

.main-container {
  display: flex;
  flex-direction: row;
}
.coming-soon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 3rem;
  padding-top: 50px;
  color: var(--light);
}
.light {
  .coming-soon {
    color: var(--dark);
  }
}

@media (max-width: 768px) {
  .mainbody {
    padding: 0 10px 0 10px;
    flex-direction: column;
    gap: 10px;
    width: 100vw;
    height: 110vh;
  }
  .center-content {
    width: 100%;
  }
  .coming-soon {
    font-size: 2rem;
  }
  .main-container {
    display: flex;
    flex-direction: row;
  }
}
