.container {
  display: flex;
  flex-direction: column;
  gap: 30;
  padding: 20px;
  width: 350px;
  height: 100vh;
  background-color: var(--dark-blue);
}
.mobile-nav-container {
  display: none;
}
.light {
  .container {
    background-color: var(--light);
  }
  .navlink {
    .menu-icon {
      color: var(--accent);
    }
    .menu-text {
      color: var(--dark);
    }
  }
  .navlink.active {
    border: 1px solid var(--light-accent);
    padding: 10px 10px 10px 20px;
    border-radius: 50px;
    .menu-icon {
      color: var(--accent);
    }
    .menu-text {
      color: var(--dark);
      font-size: 1.1rem;
      font-weight: 600;
    }
  }
  .theme-toggle-container p {
    color: var(--dark);
  }
}

.logo {
  width: 30px;
  height: 27px;
}
.logoText {
  font-size: 20px;
  color: var(--accent);
}


.header-container {
  display: flex;
  align-items: center;
}
.logo-container {
  display: flex;
  gap: 15px;
  align-items: center;
  padding: 0 10px;
}
.menu-container {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-top: 50px;
  padding: 0 0 0 10px;
}
.menu-icon {
  font-size: 25px;
  color: var(--accent);
}
.navlink {
  display: flex;
  align-items: center;
  gap: 15px;
  max-width: 200px;
  transition: 0.3s;
  .menu-icon {
    color: var(--light);
  }
  .menu-text {
    color: var(--light);
  }
}
.navlink.active {
  border: 1px solid var(--light-accent);
  padding: 10px 10px 10px 20px;
  border-radius: 50px;
  .menu-icon {
    color: var(--accent);
  }
  .menu-text {
    color: var(--light);
    font-size: 1.1rem;
    font-weight: 600;
  }
}
.theme-toggle-container {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  padding: 0 10px;
}
.theme-toggle-container p {
  color: var(--light);
}

/* Mobile   */

@media (max-width: 768px) {
  .container {
    display: none;
    
  }
  .mobile-nav-container.active {
    
    transform: translateX(0%);
  }
  .mobile-nav-container {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 100vh;
    background-color: var(--dark-blue);
    z-index: 100;
    transform: translateX(-100%);
    padding: 50px 20px;
    transition: 0.3s all ease-in;
  }
  .sidebar-toggle-button {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    
  }
  .sidebar-toggle-icon {
    font-size: 30px;
    color: var(--light);
  }
  .light {
    .mobile-nav-container {
      background-color: var(--light);
    }
    .sidebar-toggle-icon {
      color: var(--dark);
    }
    .navlink {
      .menu-icon {
        color: var(--accent);
      }
      .menu-text {
        color: var(--dark);
      }
    }
    .navlink.active {
      border: 1px solid var(--light-accent);
      padding: 10px 10px 10px 20px;
      border-radius: 50px;
      .menu-icon {
        color: var(--accent);
      }
      .menu-text {
        color: var(--dark);
        font-size: 1.1rem;
        font-weight: 600;
      }
    }
    .theme-toggle-container p {
      color: var(--dark);
    }
  }
  
  
}
