:root {
  font-family: Poppins, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --dark-blue: #0F0D20;
  --sky-blue: #4D25AE;
  --light-blue: #8A2FA8;
  --accent: #FE476E;
  --light-accent: #E33E9F;
  --light: #FFFFFF;
  --light-pink: #f8f5ff;
  --light-ash: #c5c5c5;
  --dark: #000000;

  /* color-scheme: light dark; */

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
}

/* @media(max-width:768px){
  body {
    width: 100%;
  }
} */


